@using BlazorBootstrap
@using MassTransit
@using MasterDegreeDemo.EventReceiver1.Consumers
@using MasterDegreeDemo.ServiceDefaults

@page "/invetory"

@implements IDisposable

@inject IPublishEndpoint PublishEndpoint

@rendermode InteractiveServer

<PageTitle>Invetory</PageTitle>

<div class="container d-flex flex-column gap-2">
    <h1>Invetory</h1>
    @if (orderCreated is null)
    {
        <h3>Nothing received</h3>
    }
    else
    {
        <h3>@orderCreated.ProductName product received</h3>
        <button @onclick="AcceptOrder" class="btn btn-success">Reserve</button>
        <button @onclick="DeclineOrder" class="btn btn-danger">Decline</button>
    }

    <Grid @ref="grid" Data="Orders.Values" TItem="Order" Class="table table-hover table-bordered table-striped"
    Responsive="true">
        <GridColumn TItem="Order" HeaderText="Id" PropertyName="Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="Order" HeaderText="Product" PropertyName="ProductName">
            @context.ProductName
        </GridColumn>
    </Grid>
</div>

@code {
    private static Dictionary<Guid, Order> Orders = [];

    private Order? orderCreated;

    private Grid<Order> grid = default!;

    public void Dispose()
    {
        OrderCreatedConsumer.OnReceived -= ReceiveOrderCreated;
        OrderPaymentFailedConsumer.OnReceived -= ReceivePaymentFailed;
    }

    protected override void OnInitialized()
    {
        OrderCreatedConsumer.OnReceived += ReceiveOrderCreated;
        OrderPaymentFailedConsumer.OnReceived += ReceivePaymentFailed;
    }

    private async void ReceiveOrderCreated(Order order)
    {
        this.orderCreated = order;

        await InvokeAsync(StateHasChanged);
    }

    private async void ReceivePaymentFailed(Order order)
    {
        Orders.Remove(order.Id);

        await grid.RefreshDataAsync();
    }

    private async Task AcceptOrder()
    {
        if (orderCreated is null)
        {
            return;
        }

        Orders.Add(orderCreated.Id, orderCreated);

        await grid.RefreshDataAsync();

        OrderCreatedConsumer.Resume.SetResult(true);

        orderCreated = null;
    }

    private void DeclineOrder()
    {
        if (orderCreated is null)
        {
            return;
        }

        OrderCreatedConsumer.Resume.SetResult(false);

        orderCreated = null;
    }
}
